In [24]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [25]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [26]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2021-11-27 18:56:12,42.6001,-73.9662,29.01,56,9,14.47
1,1,Castro,BR,2021-11-27 18:56:12,-24.7911,-50.0119,80.26,44,0,5.61
2,2,Sumbe,AO,2021-11-27 18:56:12,-11.2061,13.8437,76.93,80,100,7.49
3,3,Iqaluit,CA,2021-11-27 18:56:12,63.7506,-68.5145,24.53,74,90,9.22
4,4,Vilyuysk,RU,2021-11-27 18:56:12,63.7553,121.6247,2.05,90,100,11.30

In [50]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [53]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length
temperatures = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [58]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Castro,BR,2021-11-27 18:56:12,-24.7911,-50.0119,80.26,44,0,5.61
2,2,Sumbe,AO,2021-11-27 18:56:12,-11.2061,13.8437,76.93,80,100,7.49
7,7,Oriximina,BR,2021-11-27 18:56:13,-1.7656,-55.8661,88.56,53,100,4.83
8,8,Beoumi,CI,2021-11-27 18:56:13,7.6736,-5.5764,82.85,44,84,3.85
10,10,Butaritari,KI,2021-11-27 18:56:14,3.0707,172.7902,81.82,76,29,21.47
12,12,Mayumba,GA,2021-11-27 18:56:14,-3.4320,10.6554,75.51,90,100,5.12
14,14,Fowa,NG,2021-11-27 18:56:15,8.9167,6.4000,82.36,29,100,1.30
15,15,Porto Nacional,BR,2021-11-27 18:56:15,-10.7081,-48.4172,89.60,67,73,6.46
19,19,Bengkulu,ID,2021-11-27 18:56:16,-3.8004,102.2655,76.08,89,100,3.04
26,26,Coroico,BO,2021-11-27 18:56:17,-16.1889,-67.7271,86.74,57,100,4.00

In [59]:
preferred_cities_df.count()

City_ID       168
City          168
Country       166
Date          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
dtype: int64

In [60]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1           Castro      BR     80.26 -24.7911  -50.0119
2            Sumbe      AO     76.93 -11.2061   13.8437
7        Oriximina      BR     88.56  -1.7656  -55.8661
8           Beoumi      CI     82.85   7.6736   -5.5764
10      Butaritari      KI     81.82   3.0707  172.7902
12         Mayumba      GA     75.51  -3.4320   10.6554
14            Fowa      NG     82.36   8.9167    6.4000
15  Porto Nacional      BR     89.60 -10.7081  -48.4172
19        Bengkulu      ID     76.08  -3.8004  102.2655
26         Coroico      BO     86.74 -16.1889  -67.7271

In [75]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
            print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [74]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Castro,BR,80.26,-24.7911,-50.0119,Pingo Lanches & Mini Hotel
2,Sumbe,AO,76.93,-11.2061,13.8437,Complexo Hoteleiro Mar Sol
7,Oriximina,BR,88.56,-1.7656,-55.8661,Oriximiná Hotel
8,Beoumi,CI,82.85,7.6736,-5.5764,RESIDENCE MEUBLEE
10,Butaritari,KI,81.82,3.0707,172.7902,Isles Sunset Lodge
12,Mayumba,GA,75.51,-3.4320,10.6554,LIKWALE LODGE
14,Fowa,NG,82.36,8.9167,6.4000,
15,Porto Nacional,BR,89.60,-10.7081,-48.4172,Hotel Aliança.
19,Bengkulu,ID,76.08,-3.8004,102.2655,The Green Rio Hotel
26,Coroico,BO,86.74,-16.1889,-67.7271,Hotel Esmeralda

In [77]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [83]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))